.cart {
  .checkout {
    color: white;
    background: darkblue;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .tile {
      height: 60%;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;

      .cart-image {
        height: 100px;
        width: auto;
      }
    }

    .checkout-buttons {
      display: flex;
      justify-content: center;
      flex-direction: row;
    }
  }
}
