
<div class="cart">
  <!-- Checkout -->
  <div class="checkout">
    <div class="tile">

      <span> Subtotal: {{cartService.subtotal()}}</span>
    </div>
    <div class="checkout-buttons">
      <button type="button" class="btn btn-primary" routerLink="/receipt"> Checkout </button>
    </div>
  </div>

  <!-- Items List  -->
  <div class="items-list">
    <div class="row">
      <div *ngFor="let item of cartService.items" class="col-sm-12" >
        <app-item-tile [item]="item"> </app-item-tile>
      </div>
    </div>
  </div>
</div>
