
<div class="cart">
  <!-- Checkout -->
  <div class="checkout">
    <div class="tile">
      <img class="cart-image" src="/assets/shopping-cart.png">
      <span> <strong> Cart </strong> </span>
    </div>
    <span> Subtotal: {{cartService.subtotal().toFixed(2)}}</span>
    <div class="checkout-buttons">
      <button type="button" [disabled]="!cartService.items.length" class="btn btn-primary" routerLink="/receipt"> Checkout </button>
    </div>
  </div>
  <!-- Items List  -->
  <div class="items-list container">
    <div class="row">
      <div *ngFor="let item of cartService.items" class="col-sm-12" >
        <app-item-details-sm [item]="item" [cartIndex]="index"> </app-item-details-sm>
      </div>
    </div>
  </div>
</div>
