#home {
  display: flex;
  height: 100%;
  width: 100%;
  // position: fixed;

  .content {
    flex-grow: 1
  }

  .sidebar-toggle {
    padding: 3px 3px 3px 3px;
    .sidebar-toggle-image {
      height: 50px;
      width: 50px;
    }
  }

  .sidebar {
    float: right;
    width: 375px;
    background: lightblue;
    height: 100%;
    transition: width .3s ease-in-out;
    .close-sidebar {
      position: absolute;
      float: right;
      margin-left: 5px;
      margin-top: 5px;
    }
  }

}
